

td {
    align-items: center;
}

img { 
    height: 40%;
    width: 30%;
}

table {
    width: 55%;
    height: 40%;
}

button {
    height: 22%;
    width: 10%;
    background-color: rgb(254, 234, 239);
    border-color: white;
}